
/*******************************************************************
* MAIN GRID
********************************************************************/

.app {
    display: grid;
    grid-gap: 3rem;
    margin-top: 5rem;
    grid-template-columns: auto auto auto auto auto;
    justify-items: center;
    grid-template-areas:
            ". header header header header ."
            ".    .    game   game     .   ."
            ". footer footer footer footer .";
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

/*******************************************************************
* GAME GRID
********************************************************************/

game {
    grid-area: game;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-template-areas:
            "round round"
            "main main"
            "answers answers"
            "human machine"
}

.round {
    grid-area: round;
}

.main {
    grid-area: main;
    height: 300px;
    width: 400px;
}

answers {
    grid-area: answers;
    display: grid;
    grid-auto-flow: column;  /* todo not properly responsive yet, should switch to row in smaller screen sizes */

}

.main img {
    width: 100%;
    height: 100%;
}

.machine scoreboard {
    grid-area: machine;
    justify-self: center;
}


/*******************************************************************
* INSTRUCTIONS GRID
********************************************************************/

instructions {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: row;
    border: dashed 1px black;
    justify-items: center;
    align-items: center;
}

/********************************************************************
* SCOREBOARD GRIDS
*********************************************************************/

scoreboard {
    height: 8rem;
}

.human scoreboard {
    grid-area: human;
    display: grid;
    grid-template-columns: auto 5rem;
    grid-template-areas:
            "player-human  status-human"
            "score-human   status-human";
    justify-content: right;
    align-content: center;
}

.machine scoreboard {
    grid-area: machine;
    display: grid;
    grid-template-columns: 5rem auto;
    grid-template-areas:
            "status-machine player-machine"
            "status-machine score-machine";
    justify-content: left;
    align-content: center;
}

.human .status, .machine .status {
    align-self: center;
}

/* below is just for placement in the grid, don't make any stylings here */

.human .player {
    grid-area: player-human;
}

.human .score {
    grid-area: score-human;
}

.human .status {
    grid-area: status-human;
}

.machine .player {
    grid-area: player-machine;
}

.machine .score {
    grid-area: score-machine;
}

.machine .status {
    grid-area: status-machine;
}