
/*******************************************************************
* MAIN GRID
********************************************************************/

app {
    display: grid;
    grid-gap: 3rem;
    margin-top: 5rem;
    grid-template-columns: auto auto 200px 200px auto auto;
    grid-template-rows: auto auto 300px auto auto auto;
    justify-items: center;
    grid-template-areas:
            ". header header header header . "
            ".    .    round  round   .    . "
            ".    .     main  main    .    . "
            ".    .   answers answers .    . "
            ".    .    human  machine .    . "
            ". footer footer footer footer . ";
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

#round {
    grid-area: round;
}

#main {
    grid-area: main;
    justify-self: stretch; /* makes sure whole width is used */
}

#answers {
    grid-area: answers;
    display: grid;
    grid-auto-flow: column;  /* todo not properly responsive yet, should switch to row in smaller screen sizes */

}
img {
    width: 100%;
    height: 100%;
}

#human {
    grid-area: human;
    justify-self: right;
}

#machine {
    grid-area: machine;
    justify-self: left;
}

#intro {
    grid-column: 2 / -2;
    grid-row: 2 / -2;
}


/*******************************************************************
* INSTRUCTIONS GRID
********************************************************************/

/********************************************************************
* SCOREBOARD GRIDS
*********************************************************************/

scoreboard {
    height: 8rem;
}

#human {
    display: grid;
    grid-template-columns: auto 5rem;
    grid-template-areas:
            "player-human  status-human"
            "score-human   status-human";
    justify-content: right;
    align-content: center;
}

#machine  {
    display: grid;
    grid-template-columns: 5rem auto;
    grid-template-areas:
            "status-machine player-machine"
            "status-machine score-machine";
    justify-content: left;
    align-content: center;
}

#human .status, #machine .status {
    align-self: center;
}

/* below is just for placement in the grid, don't make any stylings here */

#human .player {
    grid-area: player-human;
}

#human .score{
    grid-area: score-human;
}

#human .status {
    grid-area: status-human;
}

#machine .player {
    grid-area: player-machine;
}

#machine .score {
    grid-area: score-machine;
}

#machine .status {
    grid-area: status-machine;
}