/*******************************************************************
* overwriting skeleton.css margins
********************************************************************/

h1, h2, h3, h4, h5, h6 {margin: 0em}
hr {margin: 0em}

/*******************************************************************
* titles etc
********************************************************************/

header h1 {font-size: 8rem;
        background-color: #222;
        color: #fff;
        border-radius: 2px;
        font-weight: 600;
        padding-left: 3rem;
        padding-right: 3rem;
        letter-spacing: .1rem;}

/*******************************************************************
* main app
********************************************************************/


button.button-primary {
    background-color: #222;
    border-width: 0;
}

button.button-primary:hover {
    background-color: darkorange;
}

.dashed-border {
    border: dashed 1px #bbb;
}

instructions {
    color: #555;
}